apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      # Pull secret para Artifact Registry
      imagePullSecrets:
      - name: artifact-registry-secret
      
      containers:
      - name: demo-app
        # Imagem do Artifact Registry
        image: southamerica-east1-docker.pkg.dev/offshore-hub-foundations/offshore-hub-repo/python-app:latest
        ports:
        - containerPort: 8080
