apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: southamerica-east1-docker.pkg.dev/offshore-hub-foundations/offshore-hub-repo/demo-app:b6997a8-1768330125
        imagePullPolicy: IfNotPresent
        env:
        - name: PORT
          value: "8090"
        - name: POSTGRES_HOST
          value: "postgres"
        - name: POSTGRES_DB
          value: "demo"
        - name: POSTGRES_USER
          value: "demo"
        - name: POSTGRES_PASSWORD
          value: "demo"
        ports:
        - name: http
          containerPort: 8090
          protocol: TCP
        resources:
          requests:
            memory: "32Mi"
            cpu: "25m"
          limits:
            memory: "64Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /
            port: 8090
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /
            port: 8090
          initialDelaySeconds: 5
          periodSeconds: 10
